.form-box{
    background-color:  rgb(95, 232, 127);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 550px;
    width: 80vh;
    border-radius: 5px;
}

.form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 30px;
}

.form-buttom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.form-buttom button{
    width: 500px;
    height: 70px;
    font-size: 20px;
    background: black;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
}

.form-buttom button:hover{
    background: rgb(98, 255, 134);
    color: black;
}
