.navbar{
    display: block;
    justify-content: center;
}

.navbar-header-image{
    display: flex;
    justify-content:center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.navbar nav{
    display: flex;
    justify-content: center;
}