.form-input{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.form-input input{
    width: 500px;
    height: 70px;
    border: none;
    background: rgb(224, 224, 224);
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.form-input input:hover{
    border: 2px rgb(98, 255, 134);
}