.footer{
    display: block;
    align-items: center;
    background: rgb(255, 25, 25);
}

footer nav{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footer li{
    display: inline;
    padding: 20px;
}

.footer-copy{
    padding: 10px;
    text-align: center;
}