.footer{
    display: block;
    align-items: center;
    background: rgb(0, 0, 0);
}

footer nav{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.footer li{
    display: inline;
    padding: 20px;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer-copy{
    padding: 10px;
    text-align: center;
    color: white;
}

