.table-menu-itens li{
    display: inline;
    padding-left: 10px;
}

.table-menu-itens a{
    text-decoration: none;
    color: black;
}

.table-menu-itens a:hover{
    border-bottom: 2px solid black;
}

.functions a{
    padding: 5px;
}