.navbar{
    display: block;
    align-items: center;
    background: rgb(0, 0, 0);
}

.navbar-logo{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.navbar-nav{
    padding: 10px;
}
.navbar-nav ul{
    list-style: none;
}

.navbar-nav li{
    display: inline;
    padding: 20px;
}

.navbar-nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar-nav li a:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
}
